.carddemoBasicUsage md-card {
  min-height: 250px; }

md-card>:not(md-card-content) img, md-card>img {
  box-sizing : border-box;
}

.minha-busca {
  border-radius: 8px;
  padding: 5px;
  font-family: Roboto;
  width: 100%;
}

#botao-busca {
  color: white;
}

#upvotes {
  color: limegreen;
}

#downvotes {
  color: red;
}

card-visualizacao {
  margin-top: 10px;
}

/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
*/

.md-chips mh-chip {
  height: 4%;
  line-height: 150%;
  margin: 0px 2px;
  max-width: 90%;
}

.md-md-chips.md-default-theme .md-chips, md-chips .md-chips {
  box-shadow: none;
}

.md-chips md-chip .md-chip-remove md-icon {
  margin: 49% 20% 36% 0%;
  position: relative;
}

.texto-descricao {
  text-align: justify;
}

.md-input-has-value.entrada-nome-lei > input {
  font-size: 26px;
  height: 8%;
}

html,
body {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    background: lightgray;
}

md-content.md-default-theme, md-content {
  background-color: transparent;
}