<div layout="column" flex-gt-sm="40" flex="90">
    <div data-ng-repeat="lei in leisCtrl.getLeis()" data-ng-click="leisCtrl.abrirDetalhes(lei)">
        <md-card flex data-md-colors="::colors.cardLei">
            <md-card-content>
                <h2>{{ lei.titulo }}</h2>
                <p class="texto-descricao">{{ lei.texto | limitTo: 140 }}{{lei.texto.length > 140 ? '...' : ''}}</p>
            </md-card-content>
            <md-card-footer layout="row" layout-align="end center">
                <span flex="5" id="upvotes">
                    {{ lei.upVotes }}

                    <md-tooltip>Likes</md-tooltip>
                </span>
                <span flex="5" id="downvotes">
                    {{ lei.downVotes }}
                    
                    <md-tooltip>Dislikes</md-tooltip>
                </span>
            </md-card-footer>
        </md-card>
    </div>
</div>